<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
<style>
body, html {
  height: 100%;
}

h1{
    text-align:center;
    color: black;
    font-size: 10vw;
}
h2{ text-align:center;
    color:black;
    font-size: 5vw;}
    h3{ text-align:center;
    color: black;
    font-size: 1vw;}

    html { 
    background: url(/images/caractere_film_poza.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
</head>
<header>
  <%- include('header') -%>
</header>
<body>
  <h1>Error 404 :</h1>
    <h2>
        Something went wrong ...
    <h2>
      <h3>The movie and or page you are looking for dosen`t exist...</h3>
</body>
</html>