

    <a href="#" id="link-top"><div id="triunghi"></div></a>

    <address>
      Written by <a href="mailto:secioreanuionelstefanita@gmail.com">Secioreanu Ionel Stefanita</a>.<br>
      Faculty address:<br>
      Bulevardul Regina Elisabeta Nr. 4-12, București 030018<br>
      Romania
    </address>
  
 