<!DOCTYPE html>
<html lang="en">


<head><link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>

    <main>
    
    <div id="elem"> <strong>THIS IS A FACULTY ASIGNMENT!!!</strong></div>
<section id="poza">
    <img  src="/images/istorie_film.jpg" alt="Istoria Filmului" title="Istoria Filmului" width="100%" height="100%">
  </section>
  <section id="text1">
    <ul id="lista_content">
      <li><a href="#efecte">Special Effects</a></li>
      <li><a href="#avansament">Advancements</a></li>
      <li><a href="#popularitate">Golden Age</a></li>
    </ul>
      <h2 >History of Film</h2>
      <p>
        Although the start of the history of film as an artistic medium is not clearly defined, the commercial, public screening of ten of Lumière brothers' short films in Paris on <time datetime="1895-12-28 00:00">28 December 1895</time> can be regarded as the breakthrough of projected cinematographic motion pictures. There had been earlier cinematographic results and screenings by others, but they lacked either the quality, financial backing, stamina or the luck to find the momentum that propelled the cinématographe Lumière into a worldwide success.
      </p>
  </section>
  <section id="efecte">
      <h2 >
       Special effects and the first decade
      </h2>
      <p>
        Soon film production companies and studios were established all over the world. The first decade of motion picture saw film moving from a novelty to an established mass entertainment industry. The earliest films were in <i>black and white</i>, under a minute long, without recorded sound and consisted of a <i>single shot</i> from a steady camera.

        Conventions toward a general cinematic language developed over the years with editing, camera movements and other cinematic techniques contributing specific roles in the narrative of films.
        
        <strong>Special effects</strong> became a feature in movies since <time datetime="1896-01-01 00:00">the late 1890s</time>, popularized by Georges Méliès' fantasy films. Many effects were impossible or impractical to perform in theater plays and thus added more magic to the experience of movies.      </p>
      <p>
        Technical improvements added length (reaching 60 minutes for a feature film in <time datetime="1906-01-01 00:00">1906</time>), <i>synchronized sound recording</i> (mainstream since the end of the 1920s), color (mainstream since the 1930s) and 3D (mainstream in theaters in the early 1950s and since the 2000s). Sound ended the necessity of interruptions of title cards, revolutionized the narrative possibilities for filmmakers, and became an integral part of moviemaking.
      </p>
  </section>
  <section id="avansament">
      <h2 >Advancements</h2>
      <p>
        Popular new media, including television (mainstream since the 1950s), home video (mainstream since the 1980s) and internet (mainstream since the 1990s) influenced the distribution and consumption of films. Film production usually responded with content to fit the new media, and with technical innovations (including widescreen (mainstream since the 1950s), 3D and 4D film) and more spectacular films to keep theatrical screenings attractive.

Systems that were cheaper and more easily handled (including 8mm film, video and smartphone cameras) allowed for an increasing number of people to create films of varying qualities, for any purpose (including home movies and video art). The technical quality was usually lower than that of professional movies, but improved with digital video and affordable high quality digital cameras.
      </p></section>
      <section id="popularitate">
      <h2 >Golden Ages</h2>
      <p>
        Different film genres emerged and enjoyed variable degrees of success over time, with huge differences between for instance horror films (mainstream since the 1890s), newsreels (prevalent in U.S. cinemas between the 1910s and the late 1960s), musicals (mainstream since the late 1920s) and pornographic films (experiencing a Golden Age during the 1970s).
      </p>
   
  </section>



<section id="tabel">
  <h2>Tabel representing how profitable the movie industry can be</h2>
  <div id="div_tabel">
  <table >
    <colgroup>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
      <thead>
        
          <th rowspan="2">Film</th>
          <th colspan="2" >Money Criculated</th>
          <th rowspan="2">Year</th>
        
        <tr>
        <th >Costs</th>
          <th >Box Office</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Avengers: Endgame</td>
          <td>$500,000,000</td>
          <td>$2,797,800,564</td>
          <td>2019</td>
        </tr>
        <tr>
           <td>Avatar</td>
          <td>$230,000,000</td>
          <td>$2,790,439,092</td>
          <td>2009</td>
        </tr>
          <tr>
           <td>Titanic</td>
          <td>$200,000,000</td>
          <td>$2,471,751,922</td>
          <td>1997</td>
        </tr>
          <tr>
           <td>Star Wars: Episode VII - The Force Awakens</td>
          <td>$306,000,000</td>
          <td>$2,068,454,133</td>
          <td>2015</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total money earned by all</td>
          <td colspan="3">$8,660,000,000</td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>

<section  id="video">
  <h2>Video about the history of cinema</h2>
  <video width="320" height="240" controls>
    <source src="/videos/video_cinema.mp4" type="video/mp4">
      <track label="English" kind="subtitles" srclang="en" src="/videos/sub.vtt" default>
  Your browser does not support the video tag.
  </video>
</section>


<section id="g_stat">
  <h2>Here are some recomandations to watch!</h2>>
  <div class="gallery" >
    <figure class="gallery__item gallery__item--1">
        <img srcset="/images/galerie_statica1.jpg 1063w,
                     /images/galerie_statica1_300.jpg 300w" class="gallery__img" alt="Image 1" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img srcset="/images/galerie_statica2.jpeg 1188w,
        /images/galerie_statica2_300.jpeg 300w
                      " class="gallery__img" alt="Image 2" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img srcset="/images/galerie_statica3.jpg 1077w,
        /images/galerie_statica3_300.jpg 300w " class="gallery__img" alt="Image 3" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img srcset="/images/galerie_statica4.jpg 1280w,
        /images/galerie_statica4_300.jpg 300w " class="gallery__img" alt="Image 4" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img srcset="/images/galerie_statica5.jpg 1010w,
        /images/galerie_statica5_300.jpg 300w" class="gallery__img" alt="Image 5" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img srcset="/images/galerie_statica6.jpg 2048w,
        /images/galerie_statica6_300.jpg 300w" class="gallery__img" alt="Image 6" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img srcset="/images/galerie_statica7.jpg 1016w,
        /images/galerie_statica7_300.jpg 300w" class="gallery__img" alt="Image 7" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img srcset="/images/galerie_statica8.jpg 1200w,
        /images/galerie_statica8_300.jpg 300w" class="gallery__img" alt="Image 8" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img srcset="/images/galerie_statica9.png 1920w,
        /images/galerie_statica9_300.png 300w" class="gallery__img" alt="Image 9" sizes="(max-width: 1000px) 100vw, 1000px">
      </figure>
  </div> 

</section>

<section id="galerie-animata">
  <h2>Same thing as before but animated!</h2>
  <div id="quad">
    <figure >
      <img src="/images/galerie_statica1_300.jpg" alt="Interstellar">
      <figcaption>Interstellar</figcaption>
    </figure>
    <figure>
      <img src="/images/galerie_statica2_300.jpeg" alt="Love Actually">
      <figcaption>Love Actually</figcaption>
    </figure>
    <figure >
      <img src="/images/galerie_statica3_300.jpg" alt="Catch me if you can">
      <figcaption>Catch me if you can</figcaption>
    </figure>
    <figure>
      <img src="/images/galerie_statica4_300.jpg" alt="About time">
      <figcaption>About time</figcaption>
    </figure>
    <figure >
      <img src="/images/galerie_statica5_300.jpg" alt="A beautiful mind">
      <figcaption>A beautiful mind</figcaption>
    </figure>
    <figure>
      <img src="/images/galerie_statica6_300.jpg" alt="Hateful eight">
      <figcaption>Hateful eight</figcaption>
    </figure>
    <figure >
      <img src="/images/galerie_statica7_300.jpg" alt="Dead poets society">
      <figcaption>Dead poets society</figcaption>
    </figure>
    <figure>
      <img src="/images/galerie_statica8_300.jpg" alt="Good Will Hunting">
      <figcaption>Good Will Hunting</figcaption>
    </figure>
    <figure>
      <img src="/images/galerie_statica9_300.png" alt="Your name">
      <figcaption>Your name</figcaption>
    </figure> 
  </div>

</section>
 <script>
   var quadimages = document.querySelectorAll("#quad figure");
  // while(1){
for(i=0; i<quadimages.length; i++) {

  quadimages[i].addEventListener('click', function(){ this.classList.toggle("expanded"); quad.classList.toggle("full") }); 
  // quadimages[1];
  // quadimages[3];
  // quadimages[2];
  // quadimages[7];
  // quadimages[4];
  // quadimages[5];
  // quadimages[9];
  // quadimages[8];
  // quadimages[6];
}
 </script>
</main>
</body>
</html>
